<div class="ws_view" id="chats">
    <h1>Chats</h1>
    <br>
    <br>


    <div id="newChat_bar">
        <dl class="dropdown">

            <dt>
                <div id="cl" loaded="false">
                    <span class="hida">Select</span>
                    <p class="multiSel"></p>
                </div>
            </dt>

            <dd>
                <div class="mutliSelect">
                    <ul style="padding: 0;margin: 0" id="mlist">

                    </ul>
                </div>
            </dd>

        </dl>
        <button id="createMulti">Create chat</button>
    </div>

    <div id="chat_list">

    </div>





</div>