<div class="ws_view" id="messages">
    <h1 id="display_name">Messages </h1>
    <div style="display: table">
        <table>
            <tbody id="messageHistory" style="width: 500px;height: 70%"></tbody>
        </table>
    </div>
    <input type="hidden" class="display_author">
    <div style="display: table;height: 20%">
        <input type="text" id="messageText"  style="height: auto;width: 500px;word-wrap: break-word;word-break: break-all; max-height: 90px" placeholder="type message here"></input>
        <button id="sendMessage" class="u_id" value=""><span>Send</span></button>
    </div>

</div>