<div class="ws_view" id="profile">
    <h1>Profile</h1>
    <br>
    <br>

    <div id="display_background">

        <img id="display_logo" src="" onerror="this.src='/images/icons/no_avatar.png'"/>
        <div id="cred">
        <h2 id="display_name" style="display: inline-block"></h2>
        <h2 id="display_surname" style="display: inline-block"></h2>
        <br>
        <br>
        <label id="display_birthdate"></label>
        <label id="display_status" class="status"></label>
        <button id="add_friend" class="u_id" value=""><span>Add friend</span></button>
        <button id="startChat" value="" class="u_id"><span>Send message</span></button>
        </div>
    </div>
    <table id="posts">
        <tbody id="posts_list">

        </tbody>
    </table>
</div>